/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4d9d9;
}

header {
    background-color: #f0e8e8;
    color: #f4f8f3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #d9e0da;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #d7dbd6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fazenda2.jpg'); /* Imagem de fundo da fazenda */
    background-size: cover;
    background-position: center;
    color: #333; /* Cor do texto */
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

/* Estilos para as seções */
.descricao, .servicos {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.descricao h2, .servicos h2 {
    color: #333;
    margin-bottom: 10px;
}

.descricao p {
    color: #666;
}

.servicos ul {
    list-style-type: none;
    padding: 0;
}

.servicos li {
    margin-bottom: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}

/* Estilos específicos para as seções */

.banner {
    background-color: #181a18;
    color: #d9e4d9;
    padding: 20px;
    margin-bottom: 20px;
    
}


.info {
    background-color: #f8f7f7;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fazenda.jpg'); /* Imagem de fundo da fazenda */
    background-size: cover;
    background-position: center;
    color: #333; /* Cor do texto */
}

header {
    background-color: #0e0f0e;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #ebe1e1;
    color: #fdf6f6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para as seções */
.descricao, .servicos {
    background-color: rgba(233, 233, 226, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.descricao h2, .servicos h2 {
    color: #333;
    margin-bottom: 10px;
}

.descricao p {
    color: #666;
}

.servicos ul {
    list-style-type: none;
    padding: 0;
}

.servicos li {
    margin-bottom: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}
